.e9_31 { 
	overflow:hidden;
}
.e9_31 { 
	background-color:rgba(255, 255, 255, 1);
	width:1460px;
	height:1735px;
	position:absolute;
}
.e9_32 { 
	width:1440px;
	height:1573px;
	position:absolute;
	left:0px;
	top:-25px;
}
.e9_33 { 
	background-color:rgba(227.00000166893005, 99.00000169873238, 116.00000068545341, 1);
	width:1440px;
	height:64px;
	position:absolute;
	left:0px;
	top:248px;
}
.e9_33 { 
	border:6px solid rgba(244.0000006556511, 198.00000339746475, 75.00000312924385, 1);
}
.e9_34 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:223px;
	position:absolute;
	left:0px;
	top:25px;
}
.e9_35 { 
	width:275px;
	height:248px;
	position:absolute;
	left:582px;
	top:0px;
	background-image:url(images/logo_doce_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.home { 
	color:rgba(0, 0, 0, 1);
	width:72px;
	height:27px;
	position:absolute;
	left:42px;
	top:269px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e9_37 { 
	color:rgba(0, 0, 0, 1);
	width:167px;
	height:29px;
	position:absolute;
	left:708px;
	top:269px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.promoçoes { 
	color:rgba(0, 0, 0, 1);
	width:154px;
	height:29px;
	position:absolute;
	left:478px;
	top:269px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.fale_conosco { 
	color:rgba(0, 0, 0, 1);
	width:186px;
	height:29px;
	position:absolute;
	left:1197px;
	top:269px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e9_40 { 
	width:170px;
	height:34px;
	position:absolute;
	left:951px;
	top:263px;
}
.carrinho { 
	color:rgba(0, 0, 0, 1);
	width:125px;
	height:29px;
	position:absolute;
	left:0px;
	top:2px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e9_42 { 
	width:32px;
	height:32px;
	position:absolute;
	left:138px;
	top:0px;
	background-image:url(images/carrinho_logo_2_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.encomendas { 
	color:rgba(0, 0, 0, 1);
	width:170px;
	height:29px;
	position:absolute;
	left:214px;
	top:269px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e9_44 { 
	background-color:rgba(227.00000166893005, 99.00000169873238, 116.00000068545341, 1);
	width:1418px;
	height:1223px;
	position:absolute;
	left:12px;
	top:350px;
	border-top-left-radius:141px;
	border-top-right-radius:141px;
	border-bottom-left-radius:141px;
	border-bottom-right-radius:141px;
}
.e9_44 { 
	border:10px solid rgba(246.0000005364418, 205.00000298023224, 98.00000175833702, 1);
}
.e17_20 { 
	color:rgba(255, 255, 255, 1);
	width:566px;
	height:39px;
	position:absolute;
	left:574px;
	top:1246px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e10_2 { 
	color:rgba(255, 255, 255, 1);
	width:340px;
	height:39px;
	position:absolute;
	left:412px;
	top:474px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e10_4 { 
	color:rgba(255, 255, 255, 1);
	width:340px;
	height:39px;
	position:absolute;
	left:380px;
	top:827px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e10_5 { 
	color:rgba(255, 255, 255, 1);
	width:340px;
	height:39px;
	position:absolute;
	left:380px;
	top:1180px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e10_3 { 
	color:rgba(255, 255, 255, 1);
	width:382px;
	height:39px;
	position:absolute;
	left:171px;
	top:567px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e17_18 { 
	color:rgba(255, 255, 255, 1);
	width:413px;
	height:39px;
	position:absolute;
	left:582px;
	top:567px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e10_6 { 
	color:rgba(255, 255, 255, 1);
	width:382px;
	height:39px;
	position:absolute;
	left:171px;
	top:906px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e17_19 { 
	color:rgba(255, 255, 255, 1);
	width:452px;
	height:39px;
	position:absolute;
	left:584px;
	top:906px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e10_7 { 
	color:rgba(255, 255, 255, 1);
	width:382px;
	height:39px;
	position:absolute;
	left:171px;
	top:1246px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e9_98 { 
	color:rgba(255, 255, 255, 1);
	width:184px;
	height:58px;
	position:absolute;
	left:171px;
	top:440px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e9_99 { 
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:58px;
	position:absolute;
	left:171px;
	top:1146px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e17_22 { 
	color:rgba(255, 255, 255, 1);
	width:190px;
	height:58px;
	position:absolute;
	left:165px;
	top:783px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e21_38 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:903px;
	height:280px;
	position:absolute;
	left:133px;
	top:408px;
	border-top-left-radius:36px;
	border-top-right-radius:36px;
	border-bottom-left-radius:36px;
	border-bottom-right-radius:36px;
}
.e21_38 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e21_39 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:921px;
	height:265px;
	position:absolute;
	left:133px;
	top:749px;
	border-top-left-radius:36px;
	border-top-right-radius:36px;
	border-bottom-left-radius:36px;
	border-bottom-right-radius:36px;
}
.e21_39 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e21_40 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:1022px;
	height:292px;
	position:absolute;
	left:133px;
	top:1090px;
	border-top-left-radius:36px;
	border-top-right-radius:36px;
	border-bottom-left-radius:36px;
	border-bottom-right-radius:36px;
}
.e21_40 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e21_41 { 
	color:rgba(255, 255, 255, 1);
	width:311px;
	height:44px;
	position:absolute;
	left:636px;
	top:625px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e21_42 { 
	color:rgba(255, 255, 255, 1);
	width:422px;
	height:44px;
	position:absolute;
	left:169px;
	top:625px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e21_43 { 
	color:rgba(255, 255, 255, 1);
	width:311px;
	height:44px;
	position:absolute;
	left:638px;
	top:944px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e21_44 { 
	color:rgba(255, 255, 255, 1);
	width:422px;
	height:44px;
	position:absolute;
	left:171px;
	top:944px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e21_45 { 
	color:rgba(255, 255, 255, 1);
	width:311px;
	height:44px;
	position:absolute;
	left:636px;
	top:1307px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e21_46 { 
	color:rgba(255, 255, 255, 1);
	width:422px;
	height:44px;
	position:absolute;
	left:169px;
	top:1307px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
