.e9_17 { 
	overflow:hidden;
}
.e9_17 { 
	background-color:rgba(255, 255, 255, 1);
	width:1460px;
	height:1735px;
	position:absolute;
}
.e9_18 { 
	width:1440px;
	height:1573px;
	position:absolute;
	left:0px;
	top:-25px;
}
.e9_19 { 
	background-color:rgba(227.00000166893005, 99.00000169873238, 116.00000068545341, 1);
	width:1440px;
	height:64px;
	position:absolute;
	left:0px;
	top:248px;
}
.e9_19 { 
	border:6px solid rgba(244.0000006556511, 198.00000339746475, 75.00000312924385, 1);
}
.e9_20 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:223px;
	position:absolute;
	left:0px;
	top:25px;
}
.e9_21 { 
	width:275px;
	height:248px;
	position:absolute;
	left:582px;
	top:0px;
	background-image:url(images/logo_doce_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.home { 
	color:rgba(0, 0, 0, 1);
	width:72px;
	height:27px;
	position:absolute;
	left:42px;
	top:269px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.localizaçao { 
	color:rgba(0, 0, 0, 1);
	width:167px;
	height:29px;
	position:absolute;
	left:708px;
	top:269px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.promoçoes { 
	color:rgba(0, 0, 0, 1);
	width:154px;
	height:29px;
	position:absolute;
	left:478px;
	top:269px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e9_25 { 
	color:rgba(0, 0, 0, 1);
	width:186px;
	height:29px;
	position:absolute;
	left:1197px;
	top:269px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e9_26 { 
	width:170px;
	height:34px;
	position:absolute;
	left:951px;
	top:263px;
}
.carrinho { 
	color:rgba(0, 0, 0, 1);
	width:125px;
	height:29px;
	position:absolute;
	left:0px;
	top:2px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e9_28 { 
	width:32px;
	height:32px;
	position:absolute;
	left:138px;
	top:0px;
	background-image:url(images/carrinho_logo_2_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.encomendas { 
	color:rgba(0, 0, 0, 1);
	width:170px;
	height:29px;
	position:absolute;
	left:214px;
	top:269px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e9_30 { 
	background-color:rgba(227.00000166893005, 99.00000169873238, 116.00000068545341, 1);
	width:1418px;
	height:1223px;
	position:absolute;
	left:12px;
	top:350px;
	border-top-left-radius:141px;
	border-top-right-radius:141px;
	border-bottom-left-radius:141px;
	border-bottom-right-radius:141px;
}
.e9_30 { 
	border:10px solid rgba(246.0000005364418, 205.00000298023224, 98.00000175833702, 1);
}
.e17_24 { 
	color:rgba(255, 255, 255, 1);
	width:219px;
	height:44px;
	position:absolute;
	left:619px;
	top:427px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e18_2 { 
	color:rgba(255, 255, 255, 1);
	width:106px;
	height:39px;
	position:absolute;
	left:619px;
	top:494px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e18_3 { 
	color:rgba(255, 255, 255, 1);
	width:115px;
	height:39px;
	position:absolute;
	left:623px;
	top:675px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e18_4 { 
	color:rgba(255, 255, 255, 1);
	width:59px;
	height:39px;
	position:absolute;
	left:619px;
	top:855px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e18_5 { 
	color:rgba(255, 255, 255, 1);
	width:100px;
	height:39px;
	position:absolute;
	left:618px;
	top:1052px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e18_6 { 
	color:rgba(255, 255, 255, 1);
	width:114px;
	height:39px;
	position:absolute;
	left:619px;
	top:1232px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e18_7 { 
	color:rgba(255, 255, 255, 1);
	width:90px;
	height:39px;
	position:absolute;
	left:614px;
	top:1415px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e17_25 { 
	color:rgba(255, 255, 255, 1);
	width:220px;
	height:44px;
	position:absolute;
	left:619px;
	top:611px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e18_14 { 
	color:rgba(255, 255, 255, 1);
	width:311px;
	height:44px;
	position:absolute;
	left:1009px;
	top:761px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e18_18 { 
	color:rgba(255, 255, 255, 1);
	width:311px;
	height:44px;
	position:absolute;
	left:997px;
	top:1293px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e17_26 { 
	color:rgba(255, 255, 255, 1);
	width:210px;
	height:44px;
	position:absolute;
	left:619px;
	top:789px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e18_8 { 
	color:rgba(255, 255, 255, 1);
	width:210px;
	height:44px;
	position:absolute;
	left:623px;
	top:988px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e18_9 { 
	color:rgba(255, 255, 255, 1);
	width:210px;
	height:44px;
	position:absolute;
	left:623px;
	top:1169px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e18_10 { 
	color:rgba(255, 255, 255, 1);
	width:210px;
	height:44px;
	position:absolute;
	left:623px;
	top:1350px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e17_31 { 
	width:286px;
	height:286px;
	position:absolute;
	left:87px;
	top:1039px;
	background-image:url(images/telefone_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e18_16 { 
	width:186px;
	height:186px;
	position:absolute;
	left:1060px;
	top:1020px;
	background-image:url(images/telefone_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e16_17 { 
	width:286px;
	height:286px;
	position:absolute;
	left:78px;
	top:482px;
	background-image:url(images/logo_whats_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e18_15 { 
	width:156px;
	height:156px;
	position:absolute;
	left:1075px;
	top:448px;
	background-image:url(images/logo_whats_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e17_21 { 
	color:rgba(255, 255, 255, 1);
	width:184px;
	height:58px;
	position:absolute;
	left:398px;
	top:391px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e17_38 { 
	color:rgba(255, 255, 255, 1);
	width:196px;
	height:44px;
	position:absolute;
	left:396px;
	top:464px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e18_13 { 
	color:rgba(255, 255, 255, 1);
	width:422px;
	height:44px;
	position:absolute;
	left:954px;
	top:626px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e18_17 { 
	color:rgba(255, 255, 255, 1);
	width:422px;
	height:44px;
	position:absolute;
	left:942px;
	top:1198px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e17_39 { 
	color:rgba(255, 255, 255, 1);
	width:196px;
	height:44px;
	position:absolute;
	left:398px;
	top:645px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e17_40 { 
	color:rgba(255, 255, 255, 1);
	width:196px;
	height:44px;
	position:absolute;
	left:398px;
	top:826px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e17_41 { 
	color:rgba(255, 255, 255, 1);
	width:196px;
	height:44px;
	position:absolute;
	left:398px;
	top:1022px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e17_42 { 
	color:rgba(255, 255, 255, 1);
	width:196px;
	height:44px;
	position:absolute;
	left:398px;
	top:1203px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e17_43 { 
	color:rgba(255, 255, 255, 1);
	width:196px;
	height:37px;
	position:absolute;
	left:398px;
	top:1384px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e17_28 { 
	color:rgba(255, 255, 255, 1);
	width:184px;
	height:58px;
	position:absolute;
	left:395px;
	top:949px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e9_100 { 
	color:rgba(255, 255, 255, 1);
	width:190px;
	height:58px;
	position:absolute;
	left:395px;
	top:572px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e17_29 { 
	color:rgba(255, 255, 255, 1);
	width:190px;
	height:58px;
	position:absolute;
	left:395px;
	top:1130px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e17_23 { 
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:58px;
	position:absolute;
	left:398px;
	top:753px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e17_30 { 
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:58px;
	position:absolute;
	left:388px;
	top:1311px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e17_35 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:810px;
	height:521px;
	position:absolute;
	left:78px;
	top:382px;
	border-top-left-radius:36px;
	border-top-right-radius:36px;
	border-bottom-left-radius:36px;
	border-bottom-right-radius:36px;
}
.e17_35 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e18_11 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:502px;
	height:409px;
	position:absolute;
	left:902px;
	top:420px;
	border-top-left-radius:36px;
	border-top-right-radius:36px;
	border-bottom-left-radius:36px;
	border-bottom-right-radius:36px;
}
.e18_11 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e18_12 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:502px;
	height:362px;
	position:absolute;
	left:902px;
	top:985px;
	border-top-left-radius:36px;
	border-top-right-radius:36px;
	border-bottom-left-radius:36px;
	border-bottom-right-radius:36px;
}
.e18_12 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e17_36 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:810px;
	height:515px;
	position:absolute;
	left:78px;
	top:939px;
	border-top-left-radius:36px;
	border-top-right-radius:36px;
	border-bottom-left-radius:36px;
	border-bottom-right-radius:36px;
}
.e17_36 { 
	border:1px solid rgba(0, 0, 0, 1);
}
